.dash-header {
    background:  url('/Assets/dashboardBanner.jpg'), no-repeat ;
    background-size: cover;
  }
  .display-4 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.2;
  }
  @media (max-width: 1200px) {
    .display-4 {
      font-size: calc(1.475rem + 2.7vw) ;
    }
  }